/* IMPORTS */

@font-face {
  font-family: DaggerSquare;
  src: url(/src/assets/font/DAGGERSQUARE_OBLIQUE.otf);
}

@font-face {
  font-family: RacingSans;
  src: url(/src/assets/font/RacingSansOne-Regular.ttf);
}

/* +++ BASIC RULES +++ */

body
{
  background-color: rgb(70, 70, 70);
  margin: 0;
  background-image: url("/src/assets/img/BG_CheckeredFlag.png");
  background-blend-mode: darken;
}

h1, h2, h3
{
  color: #fff;
  font-family: DaggerSquare, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, td, th
{
  color: #fff;
  font-family: RacingSans, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td
{
  color: #fff;
}

header
{
  display: flex;
  justify-content: center;
}

thead td
{
    font-weight: bold;
    font-size: 2em;
}

/* === Standby Section Layouts === */

.standbyTitle
{
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.standbyImages
{
  position: relative;
  z-index: 1;
}

.standbyImages img
{
  width: 100%;
  color: transparent;
  opacity: 0;
  z-index: 0;
  animation: standby_fading 24s linear infinite 0s;
  backface-visibility: hidden;
}

.standbyImages img:not(:first-child)
{
  position: absolute;
  top:0px;
  left: 0px;
}

.standbyImages img:nth-child(1)
{
  animation-delay: 0s;
}
.standbyImages img:nth-child(2)
{
  animation-delay: 6s;
}
.standbyImages img:nth-child(3)
{
  animation-delay: 12s;
}
.standbyImages img:nth-child(4)
{
  animation-delay: 18s;
}

/* === Registration Section Layouts === */

.regTitle
{
  display: flex;
  justify-content: center;
}

.regTitle h2
{
  font-size: 1.5;
}

.tableTitle
{
  font-size: 2em;
  text-align: left;
  padding-left: 10px;
}

.regTable
{
  margin-left: 10px;
  width: 90%;
  border: none;
  border-spacing: 0;
  margin-left: 5%;
}

.regTable td:nth-child(1)
{
  width: 221px;
}

.regTable td:nth-child(2)
{
  width: 70%;
}

.racerData
{
  background-color: #333333;
  animation: newRacerReg 0.75s linear 0s;
  margin-left: 15px;
}

.racerData td
{
  color: #fff;
  height:75px;
  border: 3px solid #e8edf0;
}

.racerData td:nth-child(1)
{
  background-color: yellow;
  width: 100%;
  border-style: solid;
  border-right-width: 6px;
}

.racerData td:nth-child(2)
{
  border-style: solid solid solid none;
}

.vehicleDot
{
  font-size: 4em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicleDot img
{
  height: 79px;
}

.vehicleDot p
{
  color: #000;
  padding-right: 40px;
}

.regRacerName
{
  font-size: 2.5em;
}

.regRacerName p
{
  margin: 0;
  margin-left: 35px;
}

/* === Starting === */

.raceStart
{
  display: flex;
  justify-content: center;
}

/* === Race Running === */

.stopwatch
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 6em;
  margin: 20px;
}

.goMessage
{
  font-size: 10em;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.raceTable
{
  margin-left: 10px;
  width: 90%;
  border: none;
  border-spacing: 0;
  margin-left: 5%;
}

.raceTableHeadings th
{
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 1.5em;
  text-align: left;
  padding-left: 5px;
}

.raceTable td:nth-child(1)
{
  width: 221px;
}

.raceTable td:nth-child(2)
{
  width: 60%;
}

.raceTable td:nth-child(3)
{
  width: 15%;
}

.lapData
{
  background-color: #333333;
}

.lapData td
{
  color: #fff;
  height: 75px;
  border: 3px solid #e8edf0;
}

.lapData td:nth-child(1)
{
  background-color: yellow;
  width: 100%;
  border-style: solid;
  border-right-width: 6px;
}

.lapData td:nth-child(2)
{
    border-style: solid none solid none;
}

.lapData td:nth-child(3)
{
  border: solid solid solid none;
}

.polePosition
{
  font-size: 3.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.polePosition img
{
  height: 75px;
  background-color: yellow;
}

.polePosition p
{
  color: #000;
  padding-right: 45px;
}

.runRacerName
{
  font-size: 2.25em;
  padding: 0;
}

.runRacerName p
{
  margin: 0px 0px 0px 25px;
}

.lapTime
{
  padding: 0;
}

.lapTime p
{
  font-size: 2em;
  margin: 0 25px 0 0;
  text-align: center;
}

/* === Finishing === */

.raceFinishedTitle
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raceFinishedTitle h2
{
  font-size: 3em;
  margin: 15px 0 10px 0;
}

.raceFinishedTitle h3
{
  font-size: 2.5em;
  margin: 15px 0 10px 0;
}

.finalTable
{
  margin-left: 10px;
  width: 90%;
  border: none;
  border-spacing: 0;
  margin-left: 5%;
}

.finalTable th
{
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 1.5em;
  text-align: left;
  padding-left: 5px;
}

.finalTable td:nth-child(1)
{
  width: 221px;
}

.finalTable td:nth-child(2)
{
  width: 80%;
}

.finalLapData
{
  background-color: #333333;
  animation: raceFinishing 1s linear 0s forwards;
  opacity: 0;
}

.finalLapBody tr:nth-child(1)
{
  animation-delay: 0s;
}
.finalLapBody tr:nth-child(2)
{
  animation-delay: 1s;
}
.finalLapBody tr:nth-child(3)
{
  animation-delay: 2s;
}
.finalLapBody tr:nth-child(4)
{
  animation-delay: 3s;
}

.finalLapData td
{
  color: #fff;
  height: 75px;
  border: 3px solid #e8edf0;
}

.finalLapData td:nth-child(1)
{
  background-color: yellow;
    border-right-width: 6px;
}

.finalLapData td:nth-child(2)
{
  border-style: solid solid solid none;
}

.finalPolePosition
{
  font-size: 3.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.finalPolePosition img
{
  height: 75px;
  background-color: yellow;
}

.finalPolePosition p
{
  color: #000;
  padding-right: 45px;
}

.finalRacerName
{
  font-size: 3em;
  padding-top: 0;
  padding-bottom: 0;
}

.finalRacerName p
{
  margin: 0px 0px 0px 25px;
}

.finalLapTime p
{
  font-size: 2em;
  margin: 0 25px 0 0;
}

.finalMessage
{
  display: flex;
  justify-content: center;
  font-size: 3em;
}

/* +++ ANIMATIONS +++ */

/* animations for image carousel */
@keyframes standby_fading
{
  0%
  {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  4.17%
  {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  25%
  {
    opacity: 1;
  }
  30.17%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 0;
  }
}

/* Animations for race registration */
@keyframes newRacerReg
{
  0%
  {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100%
  {
    opacity: 1;
  }
}

/* Animations for Pole Positions on finishing a race */
@keyframes raceFinishing
{
  0%
  {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  100%
  {
    opacity: 1;
    animation-play-state: paused;
  }
}